<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Tools.Properties.Settings>
      <setting name="margin_x" serializeAs="String">
        <value>14.5</value>
      </setting>
      <setting name="margin_y" serializeAs="String">
        <value>12.5</value>
      </setting>
      <setting name="waku_w" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="waku_h" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="int_x" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="int_y" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="num_x" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="num_y" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="font_size" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="cell_x" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="cell_y" serializeAs="String">
        <value>1</value>
      </setting>
    </Tools.Properties.Settings>
  </userSettings>
</configuration>